@import '../base/listas';

/* Politicas de Cambio */

.texto-cambio-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 150px;
}

.texto-cambio {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.txt-cambio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pregunta {
    font-weight: bold;
    margin: 0;
    color: nth($colores,2);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.respuesta {
    margin: 20px;
    color: nth($colores,3);
    font-family: 'Roboto', sans-serif;
}