@import '../base/listas';

/* Cosas extras */

.linea-temporal {
    display: flex;
    margin: 60px 0 5px 160px;
    font-family: 'Roboto Slab', serif;

    @media screen and (max-width: 420px) {
        margin-left: 10px;
        margin-top: 10px;
    }
}

.temporal {
    margin: 10px;
    text-decoration: none;
    color: #000000;
}

.temp-container {
    margin-right: 800px;
}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 60px;
    margin-top: 100px;
    color: nth($colores,5);
    font-family: 'Playfair Display', serif;

    @media screen and (max-width: 420px) {
        font-size: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.wsp {
    width: 160px;
    position: absolute;
    bottom: 10px;
    right: 0;
    position: fixed;
    z-index: 4;

    @media screen and (max-width: 420px) {
        display: none;
    }
}