@import '../base/listas';

/* Nosotros */

.imagen-nos {
    width: 950px;

    @media (max-width: 420px) {
        max-width: 100%;
    }
}

.grid-nosotros {
    display: grid;
    grid-template-columns: 950px 450px 450px;
    grid-template-rows: 250px 450px 360px 365px;
    grid-template-areas: 
    'imagen titulo titulo'
    'imagen texto1 texto2'
    'imagen parrafo1 parrafo2'
    'imagen parrafo3 parrafo4';

    @media (max-width: 420px) {
        display: contents;
    }
}

.imagen-nosotros {
    grid-area: imagen;
}

.we-are {
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 420px) {
        display: inline;
    }
}

.info-nos {
    grid-area: texto1;
    margin-top: 80px;

    @media (max-width: 420px) {
        margin-top: 20px;
        font-size: 15px;
    }
}

.info-nos2 {
    grid-area: texto2;
    margin-top: 80px;
    
    @media (max-width: 420px){
        margin-top: 10px;
        font-size: 15px;
    }
}

.diseños-exclusivos {
    grid-area: parrafo1;
    margin-top: 70px;

    @media (max-width: 420px) {
        margin-top: 30px;
    }
}

.talles-reales {
    grid-area: parrafo2;
    margin-top: 70px;

    @media (max-width: 420px) {
       margin-top: 30px;
    }
}

.renovacion-stock {
    grid-area: parrafo3;
    margin-top: 0;

    @media (max-width: 420px) {
       margin-top: 30px;
    }
}

.tienda-online {
    grid-area: parrafo4;
    margin-top: 0;

    @media (max-width: 420px) {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.texto-nos {
    margin: 25px;
    font-size: 130%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulos-nosotros {
    margin: 0 0 10px 30px;
    font-size: 120%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.textos-nosotros {
    margin-left: 35px;
    margin-right: 50px;
    font-size: 110%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nos {
    font-size: 80px;
    margin-top: 0;

    @media (max-width: 420px) {
        font-size: 50px;
    }
}

.subtitulo-nos {
    font-size: 20px;

    @media (max-width: 420px) {
        margin-left: 20px;
    }
}

.temp-nos {
    display: flex;
    justify-self: flex-start;
    margin-top: 100px;
    margin-bottom: 0;

    @media (max-width: 420px) {
        margin-top: 15px;
    }
}