@import '../base/listas';
@import '../base/extends';

/* Productos */

.grid-productos {
    display: grid;
    grid-template-columns: 600px 1000px;

    @media screen and (max-width: 420px) {
        grid: none;
    }
}

.prendas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
}

.prenda {
    height: 370px;
    display: flex;
    flex-direction: column;
}

.texto-prendas {
    text-decoration: none;
    color: #4d4b4b;
    font-weight: bold;
    font-size: large;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.tarjeta-prendas {
    margin: 10px;
}

.todos-los-productos {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.los-productos {
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
    color: #000000;
}

.dentro {
    margin-left: 14px;
    text-decoration: none;
}

.texto-costado-productos {
    font-family: 'Zilla Slab', serif;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;

    @media screen and (max-width: 420px) {

    }
}

.lado-izquierdo-productos {
    margin-left: 200px;
    margin-top: 20px;

    @media screen and (max-width: 420px) {
        margin-left: 30px;
        margin-top: 0;
    }
}

.colores {
    font-size: 15px;
    padding: 5px;
    @extend %botones;

    @media screen and (max-width: 420px) {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 420px) {
    .temp-productos {
        margin-top: 20px;
    }
}