@import '../base/listas';

.grid-producto {
    display: grid;
    grid-template-columns: 100px 600px 500px;
    grid-template-rows: 150px 150px 150px;
    grid-template-areas: 
    'imagen imagenprincipal texto1'
    'imagen imagenprincipal texto2'
    'imagen imagenprincipal texto3';
    gap: 20px;
    margin-bottom: 600px;
    margin-left: 300px;
}

.imagen {
    grid-area: imagen;
}

.imagenes-izquierda {
    width: 100px;
    height: 100px;
}

.imagen-principal-container {
    grid-area: imagenprincipal;
    width: 400px;
    height: 600px;
}

.texto-producto1 {
    grid-area: texto1;
}
.texto-producto2 {
    grid-area: texto2;
}
.texto-producto3 {
    grid-area: texto3;
}

.circle {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 10px;
    background-color: pink;
}


.texto-costado-producto {
    color: nth($colores, 2);
}

.principal {
    font-size: 25px;
}

.precio {
    font-size: 30px;
    font-weight: 500;
}



